<!--! ================================================================ !-->
    <!--! [Start] Navigation Manu !-->
    <!--! ================================================================ !-->
    <nav class="nxl-navigation">
        <div class="navbar-wrapper">
            <div class="m-header">
                <a href="/" class="b-brand">
                    <!-- ========   Text WABLASH   ============ -->
                     <h1>WABLASH</h1>
                </a>
            </div>
            <div class="navbar-content">
                <ul class="nxl-navbar">
                    <li class="nxl-item nxl-caption">
                        <label>Navigation</label>
                    </li>
                    <li class="nxl-item nxl-hasmenu">
                        <a href="/dashboard" class="nxl-link">
                            <span class="nxl-micon"><i class="feather-airplay"></i></span>
                            <span class="nxl-mtext">Dashboard</span>
                        </a>
                    </li>
                    <li class="nxl-item nxl-hasmenu">
                        <a href="/sessions" class="nxl-link">
                            <span class="nxl-micon"><i class="feather-tablet"></i></span>
                            <span class="nxl-mtext">Sessions</span>
                        </a>
                    </li>
                    <li class="nxl-item nxl-hasmenu">
                        <a href="/chats" class="nxl-link">
                            <span class="nxl-micon"><i class="feather-message-square"></i></span>
                            <span class="nxl-mtext">Chats</span>
                        </a>
                    </li>
                    <li class="nxl-item nxl-hasmenu">
                        <a href="/broadcast" class="nxl-link">
                            <span class="nxl-micon"><i class="feather-send"></i></span>
                            <span class="nxl-mtext">Broadcast</span>
                        </a>
                    </li>
                    <li class="nxl-item nxl-hasmenu">
                        <a href="/contact" class="nxl-link">
                            <span class="nxl-micon"><i class="feather-book"></i></span>
                            <span class="nxl-mtext">Contact</span>
                        </a>
                    </li>
                    <li class="nxl-item nxl-hasmenu">
                        <a href="/users" class="nxl-link">
                            <span class="nxl-micon"><i class="feather-users"></i></span>
                            <span class="nxl-mtext">User</span>
                        </a>
                    </li>
                    <li class="nxl-item nxl-hasmenu">
                        <a href="/documentation" class="nxl-link">
                            <span class="nxl-micon"><i class="feather-archive"></i></span>
                            <span class="nxl-mtext">Documentation</span>
                        </a>
                    </li>
                    
        </div>
    </nav>
    <!--! ================================================================ !-->
    <!--! [End]  Navigation Manu !-->
    <!--! ================================================================ !-->